*{
  margin: 0;
  padding: 0;
}
main{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.container{
  max-width: 300px;
  text-align: center;
  padding: 25px;
  font-family: "Roboto",sans-serif;
  border: 5px solid #fff;
  box-shadow: -2.5px -2.5px 5px rgb(100,100,100,1),
  2.5px 2.5px 5px rgb(100,100,100,1);
}
.button-wrapper{
  display: flex;
}
.title{
  font-size: 35px;
  margin-bottom: 10px;
  color: #000;
}

.timer{
  font-size: 65px;
  color: #000;
}

button{
  font-size: 18px;
  padding:10px 20px;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100px;
}

.btn:hover{
  background-color: black;
}

#start{
  background-color: #27AE60;
}

#stop{
  background-color: #ff0000;
}

#reset{
  background-color: #000;
}
@media screen and (width<750px){
  .container{
  box-shadow: none;
  }
}